@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Hiragino Maru;
      font-weight: 400;
      src: local('Hiragino Maru Gothic ProN W4'),
            url(localhost:8080/Assets/Fonts/Hiragino-Maru.otf) format("otf");
    }
}

.grid-w-40-1fr {
  grid-template-columns: min-content 1fr;
}

.transition-padding {
  transition-property: padding;
}

.transition-left {
  transition-property: left;
}

.filter-blue {
  filter: invert(26%) sepia(96%) saturate(2158%) hue-rotate(216deg) brightness(95%) contrast(93%);
}