@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'HiraginoMaru';
  font-weight: normal;
  src: url('/src/Fonts/HiraMaruProN.woff2') format("woff2");
}

.overflow-scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.overflow-scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.transition-padding {
  transition-property: padding;
}

.transition-left {
  transition-property: left;
}